@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;

}


/* #img-jogo:hover {
    width: 100%;
    transition: ease 1s;
    filter: brightness(100%);
} */

main div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal {
    background-color: #d3d3d3;
    flex-direction: column;
    display: flex;
    position: relative;
    justify-content: center;
    color: #fff;
}

#img-jogo {
    filter: brightness(70%);
    position: absolute;
}

.plataformas {
    font-size: 45px;
    font-weight: 900;
}

.descricao {
    font-size: 16px;
    margin: 25px 0 35px 0;
}

.btn-comprar {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.342);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    border: 1px solid #ffffff;
    padding: 20px 25px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-radius 0.5s;
}

.btn-comprar:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    /* border-radius: 50px; */
}

#img-sponsor {
    width: 200px;
    filter: invert(100%);
    padding-bottom: 15px;
}

#img-estadio {
    box-shadow: inset 50px 50px 50px rgb(0, 4, 255);
}

.class-comprar {
    position: absolute;
}


footer {
    display: flex;
}

.fundo {
    width: 100vw;
    position: absolute;
    display: flex;
}