@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .section-eurocopa {
    background-color: #f7f7f7;
    padding: 20px 0;

} */

body {
    font-family: "Poppins", sans-serif;
    background-color: #f7f7f7;
    /* background-image: url(/img/background.jpg); */
}

.section-eurocopa {
    display: flex;
    flex-direction: column;
    background-color: #2353a9;
    top: 0;
}

#banner-euro {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    display: flex;
}

.imagem-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* ---------------------- */

.imagem {
    width: 100%;
height: auto;
}

.section-slide {
    animation: slide 16s linear infinite;
    width: 100%;
}

@keyframes slide {
    0% { transform: translateX(-100px); }
    50% { transform: translateX(50px); }
    100% { transform: translateX(0); }
}

.section-slide {
    background-color: #2353a9;
    justify-content: center;
    height: 100px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
}


/* @keyframes deslizar {
    0% { transform: translateX(0); }
    50% { transform: translateX(2400px); }
    100% { transform: translateX(0); }
}

.imagem {
    height: 100px;
    position: absolute;
    animation: deslizar 4s infinite;
    z-index: 999;
}

.section-slide {
    background-color: #2353a9;
    justify-content: center;
    height: 100px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
} */


/* ---------------------- */
.demonstracao-jogo {
    /* height: 450px;
    background-image: url(/img/background.jpg);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; */
    height: 450px;
    /* background-image: url(/img/background.jpg); */
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #161616; */

    /* background-color: #161616; */
}


.demonstracao-jogo .texto {
    font-family: "Poppins", sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demonstracao-jogo .texto h1 {
    font-size: 45px;
    font-weight: 900;
    color: #07f468;
    margin-left: 130px;

}

.demonstracao-jogo .texto label {
    font-size: 19px;
    margin-left: 130px;
}

/*  */

.demonstracao-jogo2 {
    height: 450px;
    width: 100%;
    background-image: url(/img/FC24-texture-2.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #161616; */
}


.demonstracao-jogo2 .texto {
    font-family: "Poppins", sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demonstracao-jogo2 .texto h1 {
    font-size: 45px;
    font-weight: 900;
    color: #161616;
    text-align: center;
}

.demonstracao-jogo2 .texto img {
    height: auto;
    width: 65%;
}