@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #000000;
    /* background-image: url(/img/background.jpg); */
}

.home .container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    z-index: 999;
    top: 30%;
    left: 10%;
}

.container-principal #img-sponsor {
    width: 200px;
    filter: invert(100%);
    padding-bottom: 15px;
}

.container-principal h1 {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 18px;
}

.container-principal label {
    font-size: 21px;
}

.btn-comprar {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.342);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    border: 1px solid #ffffff;
    margin-top: 40px;
    padding: 20px 25px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-radius 0.5s;
}

.btn-comprar:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    /* border-radius: 50px; */
}

.fundo {
    width: 100%;
    position: relative;
    display: flex;
}

.demonstracao-jogo {
    height: 450px;
    /* background-image: url(/img/background.jpg); */
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #161616; */
}

.demonstracao-jogo video {
    filter: brightness(80%);
    height: 385px;
    transition: height 0.5s, box-shadow 0.8s;
}

/* .demonstracao-jogo video:hover {
    height: 390px;
    box-shadow: 0px 0px 76px 13px rgba(255, 255, 255, 0.12);
    -webkit-box-shadow: 0px 0px 76px 13px rgba(255, 255, 255, 0.12);
    -moz-box-shadow: 0px 0px 76px 13px rgba(255, 255, 255, 0.12);
    box-shadow: 1px 0px 135px -16px rgba(191, 191, 191, 0.27);
    -webkit-box-shadow: 1px 0px 135px -16px rgba(191, 191, 191, 0.27);
    -moz-box-shadow: 1px 0px 135px -16px rgba(191, 191, 191, 0.27);
} */

.demonstracao-jogo .texto {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.titulo-principal {
    font-size: 45px;
    font-weight: 900;
    color: #07f468;
    text-align: center;
}

.demonstracao-jogo .texto label {
    font-size: 19px;
}

/* --------------------------- */

.caixa-Carousel {
    /* background-color: #131313; */
    /* background-image: url(/img/FC24-texture-1.jpg); */
    background-color: #0e0e0e;
    background-size: contain;
    background-position: center;
    padding: 20px;
}

.caixa-Carousel h1 {
    margin-top: 50px;
    color: #fff;
    font-size: 40px;
}


/* div que armazena as div imagem */
.slideImg {
    display: flex;
    height: 300px;
    gap: 20px;
    padding: 50px 200px;
    height: 800px;
}

.slideImg div {
    border-radius: 20px;
    flex: 1;
    /*todas as imagens no mesmo tamanho no espaço da div*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    transition: all .6s;
    cursor: pointer;
}

.slideImg div:hover {
    flex: 2.3;

    /*ao tocar na imagem, ela abre no tamanho maior que a apresentada*/
}


/* --------------------------- */

/* 
.class-comprar {
    height: 900px;
    background: rgb(22,22,22);
    background: linear-gradient(180deg, rgba(22, 22, 22, 0.212) 0%, rgba(38,38,148,1) 100%);
} */

/* background-image: linear-gradient(to bottom, #161616, #262694); */
/* background: linear-gradient(180deg, rgba(22, 22, 22, 0.212) 0%, rgba(38,38,148,1) 100%); */

.class-comprar {
    /* background-image: url(/img/FC24-texture-1.jpg);
    background-size: contain; */
    background: url(/img/stadium3.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    /* background-color: #161616; */
    text-align: center;
    justify-content: center;
    align-content: center;
    color: #fff;
    /* padding: 50px; */
}

.class-comprar .card {
    height: 800px;
    width: 900px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 120px;
}

.class-comprar .card img {
    width: 250px;
}

.class-comprar .card video {
    width: 100%;
    height: 1000px;
    object-fit: cover;
    position: relative;
}

.class-comprar .titulo-principal {
    margin-top: 100px;
    color: #fff;
    font-size: 40px;
    /* margin-bottom: 50px; */
}

.class-comprar .plataformas img {
    height: 20px;
    width: auto;
    object-fit: cover;
}

.class-comprar .informacoes h1 {
    padding: 40px 0px 10px 0px;
    font-size: 30px;
    font-weight: 900;
}

/* .divVideo {
    display: flex;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.class-comprar ul li {
    margin-top: 32px;
    display: flex;
    text-decoration: none;
}

/* #xbox-series {
    width: 150px;
}

#pc {
    width: 90px;
} */


/* .plataformas ul li {
    text-decoration: none;
}
 */

.class-comprar .informacoes a {
    font-size: 20px;
}

footer {
    background-color: #252525;
    height: 130px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class-comprar .informacoes .plataformas {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.class-comprar .btn-plataforma .plataformas {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s ease-in;
    display: none;
    opacity: 0;
}

.class-comprar .btn-plataforma .plataformas.ativo {
    display: flex;
    opacity: 1;
}


.class-comprar .btn-plataforma .plataformas li {
    height: 70px;
    width: 380px;
}

.class-comprar .btn-plataforma .plataformas li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-comprar .btn-plataforma .plataformas li:nth-child(1) {
    border: 1px solid #00439c;
}

.class-comprar .btn-plataforma .plataformas li:nth-child(1):hover {
    background-color: #00439c;
}

.class-comprar .btn-plataforma .plataformas li:nth-child(2) {
    border: 1px solid #387a26;
}

.class-comprar .btn-plataforma .plataformas li:nth-child(2):hover {
    background-color: #387a26;
}

.class-comprar .btn-plataforma .plataformas li:nth-child(3) {
    border: 1px solid #00439c;
}

.class-comprar .btn-plataforma .plataformas li:nth-child(3):hover {
    background-color: #00439c;
}

.class-comprar .btn-plataforma .plataformas li:nth-child(4) {
    border: 1px solid #387a26;
}

.class-comprar .btn-plataforma .plataformas li:nth-child(4):hover {
    background-color: #387a26;
}

.class-comprar .btn-plataforma .plataformas li:nth-child(5) {
    border: 1px solid #b40f0f;
}

.class-comprar .btn-plataforma .plataformas li:nth-child(5):hover {
    background-color: #b40f0f;
}

@media screen and (max-width: 1500px) {
    .container-principal #img-sponsor {
        width: 150px;
        filter: invert(100%);
        padding-bottom: 15px;
    }

    .container-principal h1 {
        font-size: 35px;
        font-weight: 900;
        margin-bottom: 18px;
    }

    .container-principal label {
        font-size: 16px;
    }

    .btn-comprar {
        font-size: 20px;
    }

    .demonstracao-jogo {
        height: 390px;
    }

    .demonstracao-jogo video {
        height: 300px;
    }

    .demonstracao-jogo video:hover {
        height: 310px;

    }

    .demonstracao-jogo .texto {
        margin-left: 60px;
    }

    .demonstracao-jogo .texto h1 {
        font-size: 35px;
    }

    .demonstracao-jogo .texto label {
        font-size: 15px;
    }
}

@media screen and (max-width: 670px) {
    .container-principal #img-sponsor {
        width: 80px;
        display: none;
    }

    .container-principal h1 {
        font-size: 18px;
        display: none;
    }

    .container-principal label {
        display: none;
        font-size: 10px;
    }

    .btn-comprar {
        display: none;
        font-size: 20px;
    }

    .demonstracao-jogo {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .demonstracao-jogo video {
        width: 100%;
    }

    .demonstracao-jogo video:hover {
        height: 100%;

    }

    .demonstracao-jogo .texto h1 {
        font-size: 25px;
        margin-left: 0px;
        text-align: center;
    }

    .demonstracao-jogo .texto label {
        font-size: 15px;
        margin: 0px 30px 35px 30px;
    }

    .class-comprar .card {
        height: 450px;
        width: 300px;
    }

    .class-comprar .card img {
        width: 150px;
    }

    .class-comprar .card video {
        width: 100%;
        height: 1000px;
        object-fit: cover;
        position: relative;
    }

    .class-comprar h1 {
        padding: 40px 0px 10px 0px;
        font-size: 25px;
        font-weight: 900;
    }

    .class-comprar p {
        font-size: 13px;
        margin: 0px 10px;
    }

    .class-comprar #titulo {
        font-size: 25px;
        margin-top: 0px;
        padding: 0px;
        /* margin-bottom: 50px; */
    }

    .class-comprar .informacoes .plataformas {
        display: none;
    }
}