@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;

}

#img-banner {
    width: 100%;
    filter: brightness(70%);
    position: absolute;
}

/* .img-banner:hover {
    width: 100%;
    transition: ease 1s;
    filter: brightness(100%);
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/* .class-home {
    display: flex;
    justify-content: center;
    align-items: center;
} */
main {
    display: flex;
}

.container-game {
    flex-direction: column;
    display: flex;
    position: relative;
    justify-content: center;
    color: #fff;
    padding: 250px 0px 0px 120px;

}

#img-container {
    width: 200px;
    filter: invert(100%);
    padding-bottom: 15px;
}

.plataformas {
    font-size: 45px;
    font-weight: 900;
}

.descricao {
    font-size: 16px;
    margin: 25px 0 35px 0;
}

.btn-comprar {
    display: flex;
    justify-content: center;
    background-color:  rgba(0, 0, 0, 0.342);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    border: 1px solid #ffffff;
    padding: 20px 25px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-comprar:hover {
    color: black;
    background-color:  rgb(255, 255, 255);
}