@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.cabecalho {
    background-color: rgb(80, 80, 222);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.078);
    height: 90px;
    font-family: 'Rubik', sans-serif;
}

.cabecalho img {
    display: flex;
    width: 260px;
    /* margin: 165px; */
}

.itensHeader {
    display: flex;
    align-items: center;
    color: white;
    /* padding: 200px; */
}

.itensHeader ul li {
    font-size: 18px;
    display: inline;
    margin-right: 50px;
}

.itensHeader ul li a {
    text-decoration: none;
    color: #fff;
}

.itensHeader ul li a:hover {
    text-decoration: none;
    color:#07f468;
}



